{% extends "base.html" %}

{% block title %}Upload CSV file{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload CSV file</h1>
      <hr>

      <form action="/upload" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select CSV file</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="resume" value="" id="resume">
            <label class="custom-file-label" for="resume">Upload file...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
